<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ReptileType" value="BR" />
    <add key="OrganizerManager" value="1,1"/>
    <add key="LeagueManager" value="10,1"/>
    <add key="TeamManager" value="3,1"/>
    <add key="PlayerManager" value="10,1"/>
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container>
        <register name="BR" type="QIC.Sport.Stats.Collector.ITakerReptile.IReptile,QIC.Sport.Stats.Collector.ITakerReptile" mapTo="QIC.Sport.Stats.Collector.BetRadar.BetRadarReptile,QIC.Sport.Stats.Collector.BetRadar" />

        <!--<register name="Sbo" type="ML.EGP.Sport.TakeService.ITakerReptile.IReptile,ML.EGP.Sport.TakeService.ITakerReptile" mapTo="ML.EGP.Sport.TakeService.Sbo.SboReptile,ML.EGP.Sport.TakeService.Sbo" />-->
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>